.head {
    width: 100%;
    height: 90px;
    overflow: hidden;
    align-items: center;
    position: fixed;
    z-index: 9;
    top: 0;
}

.navbar__1 {
    width: 100%;
    height: 100%;
    background-color: #b42ac9;
    display: grid;
    grid-template-columns: repeat(12, 2fr);
    grid-template-areas: ". card1 card1 . card2 card2 card2 . card3 . card4 .";
    place-items: center;
}

.navbar__1 {
    background-color: #F0204C;
}

.navbar__1_item {
    width: 100%;
    margin: auto;
    text-align: center;
}

.navbar__1_item img {
    width: 60%;
}

.section_user .img_user {
    width: 30px;
}

.link_sesion {
    text-decoration: none;
    color: white;
}

.navbar__1_item .item_buscar {
    width: 100%;
    height: 40px;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.item_buscar .text_buscar {
    width: 70%;
    border: none;
    padding: 15px;
    font-size: 0.9rem;
    outline: none;
}

.btn_buscar {
    border: solid 2px #fff;
    border-radius: 6px;
    background-color: transparent;
    padding: 10px;
    color: #fff;
}

    .btn_buscar:hover {
        cursor: pointer;
        background-color: #fff;
        color: #b42ac9;
    }

.item {
    width: 100%;
    height: 100%;
    display: flex;
    color: #fff;
    text-decoration: none;
}

.user span {
    font-size: 1em;
    width: 30%;
}

.user p {
    width: 70%;
    margin: auto;
}

.user img {
    width: 30%;
    margin: auto;
}

.carrito span {
    font-size: 2em;
    width: 30%;
}

.carrito p {
    width: 70%;
    margin: auto;
}

.carrito img {
    width: 30%;
    margin: auto;
}

.navbar__1_item:nth-last-of-type(4) {
    grid-area: card1;
}

.navbar__1_item:nth-last-of-type(3) {
    grid-area: card2;
}

.navbar__1_item:nth-last-of-type(2) {
    grid-area: card3;
}

.navbar__1_item:nth-last-of-type(1) {
    grid-area: card4;
}

/*NAV BAR*/
.dropdwn {
    margin: 0 auto;
    width: 100%;
    position: fixed;
    top: 90px;
    z-index: 8;
}

nav {
    height: 50px;
    background: rgb(240, 240, 240);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

nav ul {
    padding: 0;
    margin: 0;
    margin-right: 50px;
    float: none;
}

nav ul li {
    background: rgb(240, 240, 240);
    position: relative;
    list-style: none;
    display: inline-block;
    text-decoration: none;
}

nav ul li a {
    display: block;
    padding: 0 15px;
    color: black;
    text-decoration: none;
    line-height: 50px;
    font-size: 18px;
}

nav ul li a:hover {
    background: rgb(180, 180, 180);
}

nav ul ul {
    position: absolute;
    top: 50px;
    display: none;
}

nav ul li:hover > ul {
    display: block;
}

nav ul ul li {
    width: 300px;
    float: none;
    display: list-item;
    position: relative;
    text-align: left;
}

/*  CARRUSEL DE IMAGENES*/
.slider{
    margin: auto;
    overflow: hidden;
    width: 100%;
    height: 82vh;
}

.slider ul{
    display: flex;
    padding: 0;
    animation: cambio 18s infinite alternate;
    width: 100%;
    height: 82vh;
}

.slider ul img {
    width: 100%;
    height: 100%
}

.slider li{
    list-style: none;
}

@keyframes cambio {
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    /* EN CASO HUBIERA UNA TERCERA IMAGEN
    50% {margin-left: -200%;}
    70% {margin-left: -200%;}
    */

    /* EN CASO HUBIERA UNA CUARTA IMAGEN
    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
    */
}