
@{
    ViewBag.Title = "Inicio";
}


@{
    Layout = null;
}

    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="~/css/login.css">
    </head>
    <body>
        <section>
            <div class="form-container">

                <h1>Iniciar Sesion</h1>
                <div class="mensaje-2">

                    @ViewBag.mensaje

                </div>
                <form action="Inicio" method="POST">

                    <div class="control">

                        <label for="name">Correo</label>

                        <input type="text" id="name" name="email">

                    </div>

                    <div class="control">

                        <label for="psw">Contraseña</label>
                        <input type="password" id="psw" name="clave">

                    </div>

                    <span><input type="checkbox"> Recordame</span>
                    <div class="control">
                        <input type="submit" class="btn" value="Inciar">
                    </div>
                </form>
                <p><a href="~/Registro/Registro">Registrarse</a></p>


            </div>
        </section>
    </body>
    </html>

